{% extends "base.html" %}

{% block content %}

<h2>Schedule</h2>
<hr />

<form method="post" action="/schedule">

  <div class="schedule">
    <div class="table-responsive">
      <table id='timeble' class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for time_entry in form.time_entries %}
          <tr class="time-entry">
            <td class="schedule-date" class="active" rowspan="1">
              {% set date = time_entry.form.date.data -%}
              <div class="dayofmonth">{{ date.day }}</div>
              <div class="dayofweek">{{ date.strftime("%A") }}</div>
              <div class="shortdate text-muted">{{ date.strftime("%B") }}, {{ date.year }}</div>
              {{ time_entry.form.date() }}
            </td>
            <td class="schedule-time">
              {{ time_entry.form.time_from() }}
            </td>
            <td class="schedule-time">
              {{ time_entry.form.time_to() }}
            </td>
            <td class="schedule-comment">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>

{% endblock %}